---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=8e8536ea7f31a1d85341931c60e27ba3&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664224876,"sunrise":1664196679,"sunset":1664239866,"temp":299.93,"feels_like":299.19,"pressure":1020,"humidity":23,"dew_point":277.09,"uvi":4.48,"clouds":0,"visibility":10000,"wind_speed":1.34,"wind_deg":86,"wind_gust":6.26,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1664224920,"precipitation":0},{"dt":1664224980,"precipitation":0},{"dt":1664225040,"precipitation":0},{"dt":1664225100,"precipitation":0},{"dt":1664225160,"precipitation":0},{"dt":1664225220,"precipitation":0},{"dt":1664225280,"precipitation":0},{"dt":1664225340,"precipitation":0},{"dt":1664225400,"precipitation":0},{"dt":1664225460,"precipitation":0},{"dt":1664225520,"precipitation":0},{"dt":1664225580,"precipitation":0},{"dt":1664225640,"precipitation":0},{"dt":1664225700,"precipitation":0},{"dt":1664225760,"precipitati[...]
