---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=8e8536ea7f31a1d85341931c60e27ba3&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664461073,"sunrise":1664456049,"sunset":1664498770,"temp":63.77,"feels_like":62.1,"pressure":1019,"humidity":48,"dew_point":43.74,"uvi":0.23,"clouds":71,"visibility":10000,"wind_speed":1.01,"wind_deg":169,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1664461080,"precipitation":0},{"dt":1664461140,"precipitation":0},{"dt":1664461200,"precipitation":0},{"dt":1664461260,"precipitation":0},{"dt":1664461320,"precipitation":0},{"dt":1664461380,"precipitation":0},{"dt":1664461440,"precipitation":0},{"dt":1664461500,"precipitation":0},{"dt":1664461560,"precipitation":0},{"dt":1664461620,"precipitation":0},{"dt":1664461680,"precipitation":0},{"dt":1664461740,"precipitation":0},{"dt":1664461800,"precipitation":0},{"dt":1664461860,"precipitation":0},{"dt":1664461920,"precipitati[...]
