---
http_interactions:
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=denver&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e4aac281eb117fb7cedb0eeeff0f769"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"10-barrel-brewing-co-denver-denver","name":"10 Barrel Brewing
        Co - Denver","brewery_type":"large","street":"2620 Walnut St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80205-2231","country":"United
        States","longitude":"-104.9853655","latitude":"39.7592508","phone":"7205738992","website_url":null,"updated_at":"2022-08-20T02:56:08.975Z","created_at":"2022-08-20T02:56:08.975Z"},{"id":"14er-brewing-company-denver","name":"14er
        Brewing Company","brewery_type":"proprietor","street":"2801 Walnut St","address_2":null,"address_3":null,"city":"Denver","state":"Colorado","county_province":null,"postal_code":"80205-2235","country":"United
        States","longitude":"-104.9839636","latitude":"39.7614112","phone":"7207731437","website_url":"http://www.14erBrewing.com","updated_at":"2022-08-20T02:56:08.975Z","created_at":"2022-08-20T02:56:08.97[...]
